.small-card{
    /* width: 100%; */
    /* border: 1px solid; */
    display: flex;
    /* justify-content: center; */
    padding: 1rem 0.5rem;
    gap:1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 0.5rem;
}

.content{
    display: flex;
    flex-direction: column;

}

/* .rounded-img{
    height: 10rem;
    width: 25rem;
} */