@tailwind base;
@tailwind components;
@tailwind utilities;


.adjust{
    padding: 2rem 7rem;
}

.blogcard-adjust{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.prim-blogcard-adjust{
    padding: 2rem 6rem;
}